<head>
  <title>Weather App</title>
  <meta charset='utf-8' />
  <link
    rel='icon'
    href='https://thumbs.dreamstime.com/b/simple-weather-vector-icon-flat-style-climate-meteo-pictogram-partly-sunny-148320270.jpg'
  />
  <meta
    name='viewport'
    content='width=device-width, initial-scale=1, shrink-to-fit=no'
  />
  <meta property='og:title' content='Weather Application' />
  <meta
    property='og:description'
    content='Simple weather search app using Node.js'
  />
  <meta
    property='og:image'
    content='https://thumbs.dreamstime.com/b/simple-weather-vector-icon-flat-style-climate-meteo-pictogram-partly-sunny-148320270.jpg'
  />
  <link
    href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700'
    rel='stylesheet'
    type='text/css'
  />

  <link
    rel='stylesheet'
    href='https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'
  />

  <link rel='stylesheet' href='/css/header.css' />

</head>
<body>
  <section class='ftco-section'>
    <div class='container'>
      <nav
        class='navbar navbar-expand-lg ftco_navbar ftco-navbar-light'
        id='ftco-navbar'
      >
        <div class='container'>
          <a class='navbar-brand' href='/'>Weather App</a>

          <button
            class='navbar-toggler'
            type='button'
            data-toggle='collapse'
            data-target='#ftco-nav'
            aria-controls='ftco-nav'
            aria-expanded='false'
            aria-label='Toggle navigation'
          >
            <span class='fa fa-bars'></span>
            Menu
          </button>
          <div class='collapse navbar-collapse' id='ftco-nav'>
            <ul class='navbar-nav ml-auto mr-md-3'>
              <li class='nav-item active'><a
                  href='/'
                  class='nav-link'
                >Home</a></li>
              <li class='nav-item'><a
                  href='/about'
                  class='nav-link'
                >About</a></li>

              <li class='nav-item'><a
                  href='/help'
                  class='nav-link'
                >Help</a></li>
            </ul>
          </div>
        </div>
      </nav>
      <!-- END nav -->
    </div>

  </section>

</body>